PORT=5001
JWT_SECRET=your_jwt_secret_key_here
BETTER_AUTH_SECRET=replace-with-a-long-random-secret
BETTER_AUTH_URL=http://localhost:3000
MONGODB_URI=mongodb://admin:<db_password>@ac-et1yp3i-shard-00-00.xwgp4bi.mongodb.net:27017,ac-et1yp3i-shard-00-01.xwgp4bi.mongodb.net:27017,ac-et1yp3i-shard-00-02.xwgp4bi.mongodb.net:27017/app-house?ssl=true&replicaSet=atlas-oub2ua-shard-0&authSource=admin&appName=Cluster0-db
MONGODB_DB_NAME=app-house
